div#tv-header {
  text-align: center; }
  div#tv-header input#tv-search-text {
    margin: 8px;
    padding: 4px 8px;
    border-radius: 6px;
    border: solid 2px #206694;
    color: #206694;
    padding: 5px 10px 5px 24px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23206694" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>') no-repeat 2px center;
    background-size: 20px; }

ul#tv-light-slider {
  padding: 0;
  list-style: none; }
  ul#tv-light-slider p {
    position: relative;
    padding: 7px 5px 7px 10px;
    margin: 5px;
    border-left: solid 5px #4b4b4b;
    background: #f1f8ff;
    color: #4b4b4b;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
    ul#tv-light-slider p span {
      color: #5c9ee7; }
